:root {
  --iconSize: 1.5em;
  --sitePadding: 5vw;
  --navBarHeight: 60px;
  --navBarSpacing: 1em;
  --titleSize: 1.2em;
  --subTitleSize: 1em;
  --descriptionSize: 0.8em;
  --smallFontSize: 0.6em;
  --fontFamily: 'Poppins';
}
html[data-theme="light"] {
  --primary: #e9eff2;
  --secondary: #f9fbfc;
  --primaryText: #1a212f;
  --secondaryText: #868688;
  --accent: #fa8900;
  --secondary-transparent: rgba(249,251,252,0.667);
  --shadowColor: rgba(28,38,57,0.333);
}
.paginatorContainer {
  display: none;
}
.postTags {
  padding: 0 0 2em;
  display: flex;
  align-items: center;
  gap: calc(var(--gap) / 2);
}
.postTags .icon {
  display: flex;
}
.postTags .icon svg {
  height: var(--iconSize);
}
.postTags .tagsContainer {
  display: flex;
  gap: 0.5em;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.postTags .tagsContainer .tagItem {
  list-style-type: none;
}
.postTags .tagsContainer .tagItem .tag {
  display: inline-block;
  padding: 0.5em 1em;
  color: var(--accent);
  font-size: var(--smallFontSize);
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5em;
  border-radius: 5px;
  border: 1px solid var(--accent);
}
.postTags .tagsContainer .tagItem .tag:hover,
.postTags .tagsContainer .tagItem .tag:focus {
  box-shadow: 0 2px 10px var(--accent), 0 2px 20px var(--accent);
}
.postTags .tagsContainer .tagItem .tag .postsInside {
  font-weight: bold;
  font-size: var(--subTitleSize);
}
.postTags .tagsContainer .tagItem.hide {
  display: none;
}
