.filterContainer {
  display: none;
  padding: 0 var(--sitePadding) 2em;
}
.filterContainer .filterInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2em;
  font-family: var(--fontFamily);
}
.filterContainer .filterInput .input {
  padding: 0.3em 0.8em;
  max-width: 15em;
  color: var(--secondaryText);
  font-size: var(--descriptionSize);
  border-radius: 5px;
  background-color: var(--secondary);
  border: 1px solid var(--secondaryText);
}
.filterContainer .filterInput .input:focus {
  border-color: transparent;
  box-shadow: 0 0 5px var(--accent);
}
.postTags .noMatch {
  display: none;
  flex-direction: column;
  align-content: center;
  align-items: center;
  gap: 0.4em;
  color: var(--primaryText);
  font-size: 0.8em;
}
.postTags .noMatch.show {
  display: flex;
}
.postTags .noMatch .icon {
  opacity: 0.6;
}
.postTags .noMatch .icon svg {
  height: calc(var(--iconSize) * 3);
}
.paginatorContainer {
  display: none;
}
.postTags {
  padding: 0 var(--sitePadding) 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: calc(var(--gap) / 2);
}
.postTags .icon {
  display: flex;
}
.postTags .icon svg {
  height: var(--iconSize);
}
.postTags .tagsContainer {
  display: flex;
  gap: 0.5em;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.postTags .tagsContainer .tagItem {
  list-style-type: none;
}
.postTags .tagsContainer .tagItem .tag {
  display: inline-block;
  padding: 0.5em 1em;
  color: var(--accent);
  font-size: var(--smallFontSize);
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5em;
  border-radius: 5px;
  border: 1px solid var(--accent);
}
.postTags .tagsContainer .tagItem .tag:hover,
.postTags .tagsContainer .tagItem .tag:focus {
  box-shadow: 0 2px 10px var(--accent), 0 2px 20px var(--accent);
}
.postTags .tagsContainer .tagItem .tag .postsInside {
  font-weight: bold;
  font-size: var(--subTitleSize);
}
.postTags .tagsContainer .tagItem.hide {
  display: none;
}
