.recommend {
  padding: 0 var(--sitePadding);
  display: block;
  width: 100%;
}
.recommend .title {
  color: var(--primaryText);
  font-family: 'Poppins';
  text-transform: capitalize;
}
.recommend .content {
  background-color: var(--secondary);
  height: 575px;
  margin-top: 1em;
}
.recommend .content .recommendImage {
  padding: var(--sitePadding) var(--sitePadding);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.recommend .content .image {
  width: 100%;
  aspect-ratio: 2/1;
  background-color: var(--secondaryText);
  margin: 13px 0;
  border-radius: 20px;
}
