.footer {
  padding: 1em var(--sitePadding);
  padding-bottom: calc(var(--navBarHeight) + (var(--navBarSpacing) * 2));
  min-height: var(--navBarHeight);
  width: 100%;
  background-color: var(--secondary);
  font-family: var(--fontFamily);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .copyright {
  font-size: var(--smallFontSize);
}
