@media (hover: hover) and (pointer: fine) {
  .recommended .recommendedContainer .recommendedPost * {
    transition: 0.3s ease-in-out;
  }
  .recommended .recommendedContainer .recommendedPost .postLink .content {
    transform: translateY(10%);
  }
  .recommended .recommendedContainer .recommendedPost .postLink .content .postTitle {
    opacity: 0;
  }
  .recommended .recommendedContainer .recommendedPost .postLink .content .discription {
    transition-delay: 0.1s;
    opacity: 0;
  }
  .recommended .recommendedContainer .recommendedPost .postLink .content .readMore .icon {
    --iconPositionY: calc(((var(--cardHeight) / 2) - (((var(--iconSize) * var(--scaleValue)) / 2) + 36px)) * -1);
    --iconPositionX: calc((var(--cardWidth) / 2) - (((var(--iconSize) * var(--scaleValue)) / 2) + 78px));
    --scaleValue: 3;
  }
  .recommended .recommendedContainer .recommendedPost .postLink .content .readMore .icon svg {
    transform: scale(var(--scaleValue)) translate(var(--iconPositionX), var(--iconPositionY));
  }
  .recommended .recommendedContainer .recommendedPost .postLink .content .readMore .readMoreText {
    transition-delay: 0.2s;
    opacity: 0;
  }
  .recommended .recommendedContainer .recommendedPost:hover a .content,
  .recommended .recommendedContainer .recommendedPost:focus-within a .content {
    transform: translateY(0);
  }
  .recommended .recommendedContainer .recommendedPost:hover a .content .postTitle,
  .recommended .recommendedContainer .recommendedPost:focus-within a .content .postTitle {
    opacity: 1;
  }
  .recommended .recommendedContainer .recommendedPost:hover a .content .discription,
  .recommended .recommendedContainer .recommendedPost:focus-within a .content .discription {
    opacity: 1;
  }
  .recommended .recommendedContainer .recommendedPost:hover a .content .readMore .icon svg,
  .recommended .recommendedContainer .recommendedPost:focus-within a .content .readMore .icon svg {
    transform: scale(1) translate(0);
  }
  .recommended .recommendedContainer .recommendedPost:hover a .content .readMore .readMoreText,
  .recommended .recommendedContainer .recommendedPost:focus-within a .content .readMore .readMoreText {
    opacity: 1;
  }
  .postsContainer .post .backgroundSect:hover .background,
  .postsContainer .post .backgroundSect:focus-within .background {
    transform: scale(1.1);
  }
  .postsContainer .post .backgroundSect .background {
    transition: 0.3s ease-in-out;
  }
}
