.postsContainer {
  --gap: 1em;
  padding: 2em var(--sitePadding);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
}
.postsContainer .post {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--fontFamily);
  border-radius: 20px;
  background-color: var(--secondary);
  overflow: hidden;
}
.postsContainer .post .background {
  width: 100%;
  aspect-ratio: 2/1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.postsContainer .post .content {
  padding: var(--gap);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
.postsContainer .post .content .postTitle .title {
  font-size: var(--subTitleSize);
  font-weight: 600;
  line-height: 0.8;
  color: var(--primaryText);
  text-decoration: none;
}
.postsContainer .post .content .postDescription .description {
  font-size: var(--descriptionSize);
  font-weight: 400;
  color: var(--secondaryText);
}
.postsContainer .post .content .postCategories {
  display: flex;
  align-items: center;
  gap: calc(var(--gap) / 2);
}
.postsContainer .post .content .postCategories .icon {
  display: flex;
}
.postsContainer .post .content .postCategories .icon svg {
  height: var(--iconSize);
}
.postsContainer .post .content .postTags {
  display: flex;
  align-items: center;
  gap: calc(var(--gap) / 2);
}
.postsContainer .post .content .postTags .icon {
  display: flex;
}
.postsContainer .post .content .postTags .icon svg {
  height: var(--iconSize);
}
