:root {
  --iconSize: 1.5em;
  --sitePadding: 5vw;
  --navBarHeight: 60px;
  --navBarSpacing: 1em;
  --titleSize: 1.2em;
  --subTitleSize: 1em;
  --descriptionSize: 0.8em;
  --smallFontSize: 0.6em;
  --fontFamily: 'Poppins';
}
html[data-theme="light"] {
  --primary: #e9eff2;
  --secondary: #f9fbfc;
  --primaryText: #1a212f;
  --secondaryText: #868688;
  --accent: #fa8900;
  --secondary-transparent: rgba(249,251,252,0.667);
  --shadowColor: rgba(28,38,57,0.333);
}
